.cards {
    display: flex;
    gap: 96px;
    margin-left: 96px;
}
.img_pizza {
    width: 150px;
    height: auto;
}
@media (max-width: 600px){
    .cards {
        flex-direction: column;
    }
}